<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
                             http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/config/spring-config.xml</param-value>
	</context-param>

	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>isis</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/isis/appServlet/servlet-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>isis</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- Disables Servlet Container welcome file handling. Needed for compatibility 
		with Servlet 3.0 and Tomcat 7.0 -->
	<welcome-file-list>
		<welcome-file></welcome-file>
	</welcome-file-list>

</web-app>



<?xml version="1.0" encoding="UTF-8"?>
2:
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 3
	: xmlns="http://java.sun.com/xml/ns/javaee" 4 :
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 5 :
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  
6:                                 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 7
	: id="WebApp_ID" 8 : version="2.5">
	9:
	10:       <!-- 11: Main configuration file for this Spring web application. 12: -->
	13:
	<context-param>
		14:
		<param-name>contextConfigLocation</param-name>
		15:
		<param-value>
			16: /WEB-INF/config/spring-config.xml
			17:
		</param-value>
		18:
	</context-param>
	19:
	20:       <!-- 21: Loads the Spring web application context using the config 
		file defined above. 22: -->
	23:
	<listener>
		24:
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
		25:
	</listener>
	26:
	27:
</web-app>  
